{% extends "layout.html.twig" %}

{% block content %}
<div class="jumbotron main">
    <div class="container">
        <h1>Ramen</h1>
        <p>Making Your Apps Delicious</p>
    </div>
</div>

<div class="container">
    <footer>
        <hr/>
    </footer>
</div>
{% endblock %}
